.home{
background-color: #EBEBEB;
padding: 1.5rem 1.5rem;

margin: 0px !important;
}



.team-logo{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 12.8%; 
    margin-top: 12.5%;          
}

.team-name{
    font-family: monospace;
    color: #8968C0;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer-style{
    margin: auto;
    display: flex;
    color: #8968C0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: math;
    font-size: 1rem; 
    letter-spacing: 5px;
    margin-bottom: 0.7%; 

}
.header-icon{
    top: 0;
    right: 0px;
    position: absolute;
    margin: 1.5rem 2.5rem;
}