.notification-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .notification-icon {
    cursor: pointer;
    top: 0;
    right: 0;
  }
  
  .notification-badge {
    position: absolute;
    top: 0;
    left: 1.7rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .notification-list {
    position: absolute;
    top: 78%;
    right:2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;

  }
  
  .notification-icon{
    color: #8968C0;
    font-size: 2rem;
}
  
  .notification-list h3 {
    font-size: 25px;
    margin: 0;
    color: black;
  }
  
  .notification-list ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
  }

  .notification-list ul :hover {
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
  }

  
  .notification-list li {
    margin: 5px 0;
  }
  