.user-body {
 background-color: #212a4b;
 color: white;
 padding: 1rem !important;
}

.alert-header {
 display: flex;
 justify-content: space-between;
}


.alert-main-video {
    margin-top: 3%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.gif {
 max-width: 100%;
}

.alert-description {
 font-size: 20px;
 text-align: left;

 margin-top: 10px; 
 margin-right: 10%;
}

.alert-description p {
 margin: 0;
}

.alert-header h3{
    margin: 0px !important;
}
.alert-detailed-videos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.video-css{
    height: 25rem;
    width: 55%;
    margin:  3rem 0rem;
}
